@import './lib/@fortawesome/fontawesome-free/css/all.min.css';
@import './lib/ionicons/css/ionicons.min.css';
@import './assets/css/dashforge.css';
@import './assets/css/dashforge.profile.css';
@import './assets/css/skin.dark.css';
@import './assets/css/metropolis.css';

/* Custom Global styles */
.nav-aside .nav-item .active.nav-link {
    opacity: 1;
    color: #0168fa;
    font-weight: 500;
}
.nav-aside .nav-item .active svg {
    color: #0168fa;
    fill: rgba(1, 104, 250, 0.2);
}
.nav-aside .nav-item .active.nav-link::before {
    opacity: 1;
    visibility: visible;
    border-left-color: #0168fa;
}
.solid-user {
    fill: #97a3b9;;
}
.event-live {
    background-color: #f43838;
    box-shadow: 0 0 3px 2px #f43838;
    vertical-align: middle;
}
.card-img-overlay {
    background-image: linear-gradient(to top right, #000 25%, rgba(255, 255, 255, 0));
}
.premiere-sponsor-overlay {
    background-image: linear-gradient(to bottom, #3b4863 0%, #192848 100%);
}
.silve-sponsor-overlay {
    background-image: linear-gradient(to bottom, #3b4863 0%, #1c273c 100%);
}
.border-t-r-r{
    border-top-right-radius: 0.25em;
}
.border-b-r-r {
    border-bottom-right-radius: 0.25em;
}
.img-fit-contain {
    object-fit: contain;
}
.img-fit-contain-f {
    object-fit: contain !important;
}
/* Custom Typography styles */
.tx-metropolis-semi-bold {
    font-family: 'Metropolis Semi Bold', sans-serif; 
}
.hover-tx-white:hover {
    color: white;
}

/* Custom Background color */
.card-deck > .card {
    background: #141c2b;
}
.event-expired > * {
    color: #6a6a6a !important;
}
.background-none {
    background: none;
}
/* Hover effect */
.bg-dark-hover:hover {
    background-color: #3b4863 !important;
}
.cursor-pointer {
    cursor: pointer;
}
/* Custom height */
.ht-480 {
    height: 480px;
}
.ht-112 {
    height: 112px
}
.ht-164 {
    height: 164px;
}
.ht-184 {
    height: 184px;
}
/* slick carousel custom styles */
.slick-list .slick-track {
    margin-left: initial;
}
.live-now-section .slick-prev {
    left: 10px;
    z-index: 10;
}
.live-now-section .slick-next {
    right: 10px;
    z-index: 10;
}
/* Ask a Question */
.bg-gray-900-f {
    background-color: #1c273c !important;
}
.bd-none-f {
    border: none !important;
}
.tx-white-f {
    color: #fff !important;
}
/* live now date card custom arrows */
.date-card-slider .slick-prev {
    right: 35px;
    top: -20px;
    left: auto;
}
.date-card-slider .slick-next {
    right: 8px;
    top: -20px;
    left: auto;
}