@import './lib/@fortawesome/fontawesome-free/css/all.min.css';
@import './lib/ionicons/css/ionicons.min.css';
@import './assets/css/dashforge.css';
@import './assets/css/dashforge.profile.css';
@import './assets/css/skin.dark.css';
@import './assets/css/metropolis.css';

/* Custom Global styles */
.nav-aside .nav-item .active.nav-link {
    opacity: 1;
    color: #0168fa;
    font-weight: 500;
}
.nav-aside .nav-item .active svg {
    color: #0168fa;
    fill: rgba(1, 104, 250, 0.2);
}
.nav-aside .nav-item .active.nav-link::before {
    opacity: 1;
    visibility: visible;
    border-left-color: #0168fa;
}
.solid-user {
    fill: #97a3b9;;
}
.event-live {
    background-color: #f43838;
    box-shadow: 0 0 3px 2px #f43838;
    vertical-align: middle;
}
.card-img-overlay {
    background-image: linear-gradient(to top right, #000 25%, rgba(255, 255, 255, 0));
}
/* Custom Typography styles */
.tx-metropolis-semi-bold {
    font-family: 'Metropolis Semi Bold', sans-serif; 
}
.hover-tx-white:hover {
    color: white;
}

/* Custom Background color */
.card-deck > .card {
    background: #141c2b;
}
.event-expired > * {
    color: #6a6a6a !important;
}

/* Hover effect */
.bg-dark-hover:hover {
    background-color: #3b4863 !important;
}
.cursor-pointer {
    cursor: pointer;
}
/* Custom height */
.ht-480 {
    height: 480px;
}
.ht-112 {
    height: 112px
}
.ht-164 {
    height: 164px;
}